root = true

[*]
end_of_line = lf
insert_final_newline = true

# Docs
[*.md]
indent_style = space
indent_size = 2

# Code
[*.cpp]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.rs]
indent_style = space
indent_size = 4

# Data
[*.toml]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
